*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html
{
    height: 100%;
    width: 100%;
    font-family: 'Karla', sans-serif;
}
p
{
    font-size: 1.1em;
}
section h1, section h2, section h3, section h4
{
    text-decoration: underline;
}
section h2
{
    text-transform: uppercase;
    color: #D60006;
}
h2
{
    font-size: 1.5em;
}
h3
{
    font-size: 1.3em;
}
h4
{
    font-style: italic;
    font-weight: normal;
}

p
{
    text-align: justify;
}
/************************/
/******* En-Tête ********/
/************************/

header
{
    height: 100px;
    background-color: #3F464C;
    display: flex;
    justify-content: center;
}
#titleHeader
{
    margin-top: 10px;
    width: 1200px;
    color: white;
}
/******************************/
/******* Corps de page ********/
/******************************/


ul
{
    list-style-type: none;
}
nav
{
    width: 300px;
    padding: 5px;
    position: fixed;
    bottom: 50%;
    left: 0;
    text-align: center;
}
nav ul li a
{
    display: block;
    height: 50px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
    color: black;
    margin: 3px;
    box-shadow: 0 0 15px gray;
}
nav ul li a:hover
{
    box-shadow: 0 0 5px red;
}

#main
{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
section
{
    width: 1200px;
    display: flex;
    flex-direction: column;
}
article
{
    margin-top: 80px;
    padding: 20px;
}
figure
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img
{
    width: 1000px;
}

aside
{
    margin-top: 10px;
}
table
{
    border-collapse: collapse;
}
th, td
{
    border: 1px solid black;
    padding: 10px;
    text-align: justify;
    background-color: #F9F9F9;
}
td a
{
    color: blue;
}
td ul
{
    list-style-type: circle;
    margin-left: 20px;
}

/****************************/
/******* Bas de page ********/
/****************************/
footer
{
    height: 100px;
    justify-content: center;
    background-color: #3F464C;
    color: white
}