*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html
{
    height: 100%;
    width: 100%;
    font-family: 'Karla', sans-serif;
}
p
{
    font-size: 1.1em;
}
section h1, section h2, section h3, section h4
{
    text-decoration: underline;
}
section h2
{
    text-transform: uppercase;
    color: #D60006;
}
h2
{
    font-size: 1.5em;
}
h3
{
    font-size: 1.3em;
}
h4
{
    font-style: italic;
    font-weight: normal;
}

p
{
    text-align: justify;
}
/************************/
/******* En-Tête ********/
/************************/

header {
  
  padding: 10px 20px;
  background-color: #3F464C;
  display: flex;
  justify-content: center;
}
#titleHeader
{
    width: 100%;
    color: white;
}

.github-ribbon {
  position: absolute;
  right: 0;
}

@media screen and (max-width:1500px) {
  header {
    padding: 10px 20px 10px 60px;
  }

  header h1{
    font-size: 1.3em;
  }
  header h3 {
    font-size: 1.1em;
  }
}

/******************************/
/*********** Menu *************/
/******************************/

.hamburger {
  height: 64px;
  top: 0;
  width: 100%;
  position: fixed;
}
.hamburger:focus-within {
  background: #3F464C; 
}
.hamburger__button {
  position: fixed;
  top: 7px;
  left: 5px;
  font-size: 21px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.30980392156862746);
  border-radius: 50%;
  padding: 10px 3px;
  color: white;
  width: 50px;
  height: 50px;
  background-color: #3F464C;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.hamburger__button:focus {
  background: #68747d;
  border-color: white;
  outline: none;
}
.hamburger__button + nav {
  opacity: 0;
  pointer-events: none;
}
.hamburger .hamburger__button:focus + nav,
.hamburger nav:focus-within {
  display: block;
  position: fixed;
  width: 100%;
  top: 64px;
  background: white;
  opacity: 1;
  pointer-events: all;
}



ul
{
    list-style-type: none;
}
@media screen and (min-width:1500px){
  .hamburger__button + nav {
    width: 300px;
    position: fixed;
    bottom: 50%;
    left: 0;
    text-align: center;
    box-shadow: 1px 4px 15px grey;
    opacity: 1;
  }

  .hamburger__button{
    display: none;
  }
}
nav ul{

}
nav ul li {
  padding: 3px 5px;
  display: flex;
  flex-direction: column;
  min-height: 50px;
  justify-content: center;
  box-shadow: 0 1px 2px #bdbdbd;
}
nav ul li:hover
{
    box-shadow: 0 0 5px red;
}
nav ul li a
{
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
    color: black;
}



/******************************/
/******* Corps de page ********/
/******************************/
#main
{
    display: flex;
    justify-content: center;
}
section
{
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
}
article
{
    margin-top: 80px;
    padding: 20px;
}
figure
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img
{
    width: 100%;
    max-width: 1000px;
}

aside
{
    margin-top: 10px;
}
table
{
    border-collapse: collapse;
}
th, td
{
    border: 1px solid black;
    padding: 10px;
    text-align: justify;
    background-color: #F9F9F9;
}
td a
{
    color: blue;
}
td ul
{
    list-style-type: circle;
    margin-left: 20px;
}
@media screen and (max-width: 780px) {
  table,
  tbody,
  tr,
  td {
    display: block;
    width: auto;
  }

  td {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/****************************/
/******* Bas de page ********/
/****************************/
footer
{
    height: 100px;
    justify-content: center;
    background-color: #3F464C;
    color: white
}